<html>
<head>
  <title>Bootstrap Demostration Example</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')  }}" rel="stylesheet" />
</head>

<style>
  body{
    padding:50px 0px;
  }
</style>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ProjectName</a>
    </div>
   
    <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    </div>

  </div>
  </nav>

  <div class="container">
    <h1>Title stored in the base template</h1>
    <h2>With a subtitle</h2>
    <p class="lead">Demostrating a flask app with bootstrap</p>
  </div>

  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')  }}"></script>
</body>
</html>
